name: License Check
on:
  workflow_dispatch:
  pull_request:

jobs:
  prepare:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    outputs:
      server: ${{ steps.server.outputs.any_modified }}
      web: ${{ steps.web.outputs.any_modified }}
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Server changes
        id: server
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files: |
            server/go.mod
            server/go.sum
      - name: Web changes
        id: web
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files: |
            web/package.json
            web/pnpm-lock.yaml

  server-license-check:
    name: Server License Check
    needs: prepare
    if: needs.prepare.outputs.server == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: server/go.mod
          check-latest: true
          cache-dependency-path: |
            server/go.sum
      - uses: reearth/actions/license-checker/go@e05fcd1efc6c985c7c0c906cff1452ee634232c8
        with:
          subdirectory: server

  web-license-check:
    name: Web License Check
    needs: prepare
    if: needs.prepare.outputs.web == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          package_json_file: web/package.json
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: "web/pnpm-lock.yaml"
      - name: Install
        run: pnpm install --frozen-lockfile
      - uses: reearth/actions/license-checker/npm@e05fcd1efc6c985c7c0c906cff1452ee634232c8
        with:
          subdirectory: web
